
@{
    ViewBag.Title = "Alert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3>Thông báo</h3>
    <p class="alert alert-success mt-3">@TempData["SuccessMessage"]</p>

    <!-- Hiển thị nút đăng nhập -->
    <a href="@Url.Action("Index", "Login64132989", new { area = "" })" class="btn btn-outline-primary mt-3">
        <i class="bi bi-box-arrow-in-right me-2"></i> Đăng nhập
    </a>
</div>
