@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    font-size: 0.875rem !important;
}

a {
    text-decoration: none;
    color: inherit;
}

.custom-btn {
    font-size: 0.875rem;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    background-color: #f6f8fa;
    transition: all 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}

/* Light mode (default) */
[data-bs-theme="light"] .custom-btn {
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    color: #24292f;
}

    [data-bs-theme="light"] .custom-btn:hover {
        background-color: #f3f4f6;
        border-color: rgba(27, 31, 35, 0.15);
        transition-duration: 0.1s;
    }

/* Dark mode */
[data-bs-theme="dark"] .custom-btn {
    background-color: #21262d;
    border-color: rgba(240, 246, 252, 0.1);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 0px 0px, rgba(255, 255, 255, 0.1) 0px 1px 0px 0px inset;
    color: #c9d1d9;
}

    [data-bs-theme="dark"] .custom-btn:hover {
        background-color: #30363d;
        border-color: rgba(240, 246, 252, 0.1);
        transition-duration: 0.1s;
    }

.dropdown-menu {
    font-size: 0.875rem;
}

.nav-link {
    color: inherit !important; /* Kế thừa màu mặc định từ bố cục */
    opacity: 0.8;
    text-decoration: none; /* Loại bỏ gạch chân nếu cần */
}

    .nav-link.active {
        opacity: 1;
    }

.text-decoration-none {
    color: inherit !important;
    font-weight: 500;
}
/* Sidebar base styles */
.sidebar {
    overflow-y: auto;
}

.user-avatar {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

body {
    transition: background-color 0.3s, color 0.3s;
}

/* Navbar specific theming */
.navbar {
    transition: background-color 0.3s;
}



.nav-link.active {
    font-weight: 500;
}

.bd-mode-toggle {
    z-index: 1060; /* Đặt z-index cao để hiển thị trên mọi thành phần khác */
}

    .bd-mode-toggle .dropdown-menu {
        z-index: 1070; /* Đặt giá trị lớn hơn để đảm bảo menu không bị che */
    }

/* Custom shadow cho chế độ sáng (mặc định) */
.custom-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 0.5rem; /* Bo góc nhẹ */
}

/* Custom shadow cho chế độ tối (Bootstrap dark mode) */
[data-bs-theme="dark"] .custom-shadow {
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1), 0 1px 3px rgba(255, 255, 255, 0.06);
}
